
@media (max-width: 768px) {
  .carousel-overlay h2 { font-size:3rem !important; }
  .carousel-overlay p { font-size:1.3rem !important; }
  .carousel-overlay { padding:100px 20px 140px !important; }
  .about h1 { font-size:6rem !important; }
  .footer h1 { font-size:6rem; }
}
@media (max-width: 480px) {
  .carousel-overlay h2 { font-size:2.5rem !important; }
  .carousel-overlay p { font-size:1.1rem !important; }
  .about h1 { font-size:5rem !important; }
  .footer h1 { font-size:4.5rem; }
}